<<<<<<< HEAD
.service_swiper_content {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 26%; */
}
.service_swipper_box1 {
    /* margin-left: 15%; */
    margin: 10px 10px;
    width: 29%;
    border-radius: 10px;
}
.blog-detail{
    padding: 50px 60px;
}
.blogdetail_link{
    text-decoration: none;
}
.blog-detail-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.blog-detail-box-heading{
    color: white;
}
.blog-detail-insidebox{
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}
.blog-detail-insidebox > img{
    width: 45px;
    height: 45px;
}
.blog_uppersection4_box1 > p {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blog-detail-insidebox_1{
    color: #1BACD1;
    text-align: center;
    line-height: 2;
    padding-left: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.blog-detail-insidebox_2{
    color: #1BACD1;
    line-height: 2;
    text-align: center;
    margin: 0;
    padding-left: 30px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row_2 >img{
        /* height: 650px; */
        height: 100%;
        width:  100%;
}
.row_3{
    margin-top: 15px;
}
.row_3 > h5{
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.row_3 > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    color: white;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  } 
.sslide-in {
    animation: slideInFromBottom 1.5s ease-in-out;
  }


























@media screen and (max-width:600px) {
    .service_swipper_box1 {
        /* margin-left: 15%; */
        margin: 10px 10px;
        width: 100%;
        border-radius: 10px;
    }
}
@media screen and (max-width:760px) {
    .service_swipper_box1 {
        /* margin-left: 15%; */
        margin: 10px 10px;
        width: 70%;
        border-radius: 10px;
    }
=======
.service_swiper_content {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 26%; */
}
.service_swipper_box1 {
    /* margin-left: 15%; */
    margin: 10px 10px;
    width: 29%;
    border-radius: 10px;
}
.blog-detail{
    padding: 50px 60px;
}
.blogdetail_link{
    text-decoration: none;
}
.blog-detail-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.blog-detail-box-heading{
    color: white;
}
.blog-detail-insidebox{
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}
.blog-detail-insidebox > img{
    width: 45px;
    height: 45px;
}
.blog_uppersection4_box1 > p {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blog-detail-insidebox_1{
    color: #1BACD1;
    text-align: center;
    line-height: 2;
    padding-left: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.blog-detail-insidebox_2{
    color: #1BACD1;
    line-height: 2;
    text-align: center;
    margin: 0;
    padding-left: 30px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row_2 >img{
        /* height: 650px; */
        height: 100%;
        width:  100%;
}
.row_3{
    margin-top: 15px;
}
.row_3 > h5{
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.row_3 > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    color: white;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  } 
.sslide-in {
    animation: slideInFromBottom 1.5s ease-in-out;
  }


























@media screen and (max-width:600px) {
    .service_swipper_box1 {
        /* margin-left: 15%; */
        margin: 10px 10px;
        width: 100%;
        border-radius: 10px;
    }
}
@media screen and (max-width:760px) {
    .service_swipper_box1 {
        /* margin-left: 15%; */
        margin: 10px 10px;
        width: 70%;
        border-radius: 10px;
    }
>>>>>>> f7d8722 (ten commit)
}