<<<<<<< HEAD
body {
  overflow-x: hidden;
}
@font-face {
  font-family: 'Revive 80 Wide';
  font-family: 'Revive 80 Phatt';
  src: url('../../asset/fonts/Revive\ 80\ Wide.otf') format('opentype');
  src: url('../../asset/fonts/Revive\ 80\ Phatt.otf') format('opentype');
}

.uppersection {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .bottom-animation {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .slide-iin{
    opacity: 1;
  }
  
  @keyframes slideInFromBottom {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  /* .uppersection img {
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
  } */
  .uppersection img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
  }
  .uppersection1.fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
 
  .uppersection-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .uppersection_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0); /* Add translateZ(0) for better GPU acceleration */
    text-align: center;
    color: white;
    text-transform: uppercase;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .uppersection.zoomed .uppersection-image {
    opacity: 0;
  }
  
  .uppersection.zoomed .uppersection_heading {
    transform: translate(-50%, -50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
  /* UperSection1 */
.uppersection1{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.upersection1_img {
  margin-top: 30px;
  object-fit: contain;
  width: 80%;
  animation: slideFromRight 3s ease-in-out forwards;
  /* Change the animation duration and timing function as needed */
  opacity: 0; /* Start the image as hidden */
}

@keyframes slideFromRight {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.upersection1_content{
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.upersection1_content_SideA{
  width: 35%;
}
.upersection1_content_SideB{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.upersection1_content_SideA_P{
  /* color: white; */
  color: #1BACD1;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-family: 'Revive 80 Wide'; */
  font-size: 55px;
  font-weight: 600;
  z-index: 999;
}

.upersection1_content_SideA_P2{
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  /* font-family: 'Revive 80 Wide'; */
  font-size: 35px;
  font-weight: 800;
  z-index: 999;
}
.upersection1_content_SideB_P{
  text-align: left;
  color: white;
  z-index: 999;
}
.upersection1_content_SideB_Button{
      /* background: #334d50;  
      background: -webkit-linear-gradient(to right, #cbcaa5, #334d50); 
      background: linear-gradient(to right, #cbcaa5, #334d50);  */
      background-color: white;
      color: black;
      width: 180px;
      margin-top: 5%;
      z-index: 999;
}
/* Upersection 2 */
.upersection2_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 630px;
  background-image: url('../../asset/image/Frame 41.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.uppersection2_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_img{
  transition: all 0.5s ease-in-out;
}
.home_img:hover{
  transform: scale(1.5);
}
.op{
  text-decoration: none;
}
/* Uppersection-3 */
.yyy{
  background: rgb(19,101,141);
background: linear-gradient(180deg, rgba(19,101,141,1) 0%, rgba(0,0,0,1) 72%);
}
.blog_container{
  /* background-color: white; */
  /* height: 100vh; */
}
.uppersection3_heading {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 45px;
  font-weight: 600;
  z-index: 999;
}
.blog_heading{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 45px;
  font-weight: 600;
  z-index: 999;
}
.uppersection3_content{
  display: flex;
  padding: 0 13%;
}
.uppersection3_box1 {
  margin: 10px;
  /* padding-left: 40px;
  padding-right: 40px; */
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative; 
  overflow: hidden;
  border: 1px solid #1BACD1;
  background-color: rgba(27, 172, 209, 0.1); /* Adjust the alpha value for opacity */
}
.uppersection3_box1 > h5 {
  color: white;
  text-align: left;
  font-size: 28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uppersection3_box1 >p{
  color: #A9A7B0;
  text-align: left;
  padding-bottom: 15px;
  
}
.uppersection3_box1 >img{
  display: block;
  margin: 10px auto;
}
.uppersection3_box1:hover .overlay {
  height: 100%; /* Set the final height to 100% on hover */
}
.overlay_link{
  color: white;
  text-decoration: none;
}
.overlay_content_A:hover{
  transition: 0.5s ease-in-out;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.overlay_link > p {
  padding: 10px 0px;
  text-align: center;
  line-height: 2;
  margin: 0;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:0; /* Set initial height to 0 */
  /* background-color: rgba(27, 172, 209, 0.8); */
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 3%, rgba(19,101,141,1) 100%);
  overflow: hidden;
  transition: height 0.5s ease; /* Adjust the transition property */
  opacity: 1;
}

.overlay-content {
  padding: 20px;
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease;
  /* align-items: center;
  justify-content: center; 
  display: flex;
  flex-direction: column; */
  position: relative; /* Add this line */
}

.uppersection3_box1:hover .overlay-content {
  opacity: 1;
}

.uppersection3_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 550px;
  background-image: url('../../asset/image/Frame 41.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
}
.overlay_content_A{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.overlay-content img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain the image's aspect ratio */
  position: absolute; /* Add this line */
  bottom: -10%; /* Add this line */
  left: 50%; /* Add this line */
  transform: translate(-50%, -50%); /* Add this line to center the image */
}
.uppersection4{
  margin-top: 50px;
}
.uppersection4_content{
  display: flex;
  padding: 0 13%;
}
.uppersection4_box1 {
  margin: 10px;
  /* padding-left: 40px;
  padding-right: 40px; */
  display: flex;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  position: relative; /* Add this line */
  overflow: hidden; /* Add this line */
  border: 1px solid #36D1DC;
  background-color: rgba(27, 172, 209, 0.1); /* Adjust the alpha value for opacity */
}
.uppersection4_box1 >img{
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 100%; /* Ensure the image takes the full height of its container */
  object-fit: cover;
}
.uppersection4_box1 > p{
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uppersection5{
  /* position: absolute; */
  /* background-color: #1BACD1; */
  padding: 0px 40px;
  /* margin-top: 10%; */
}
.heading_content{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.heading_content >h3{
  color: white;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family:Pl;
  font-size: 45px;
}
.heading_content >p {
  position: absolute;
  right: 10%;
  margin: 10px;
  color: white;
  font-size: 16px;
}
/* Swiper */
.swipper_box1{
  /* border: 2px solid white; */
  margin-left: 15%;
  width: 70%;
  border-radius: 10px;
  /* background: #2193b0;  
background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);  
background: linear-gradient(to left, #6dd5ed, #2193b0); */
/* background: #56CCF2;  
background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  
background: linear-gradient(to left, #2F80ED, #56CCF2);  */
/* background: rgb(6,86,106);
background: linear-gradient(142deg, rgba(6,86,106,1) 18%, rgba(255,255,255,1) 120%); */
background: rgb(27,172,209);
background: linear-gradient(180deg, rgba(27,172,209,1) 0%, rgba(2,102,128,1) 55%);
}

.swiper_content{
  /* padding: 10px 25px; */
  /* padding: 10px 10px; */
  padding: 30px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icon_box{
  background-color: white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_p1{
  margin: 0px;
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.swiper_p2{
  color: white;
  font-size: 18px;
}
.swiper_box{
  padding: 20px 0px;
}
.swiper_p3{
  color: white;
  text-align: start;
  font-family: 'Times New Roman', Times, serif;
}
.swiper_box1{
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.swiper_box1 > img{
  width: 45%;
  height: 45%;
}
.swiper_box2{
  padding: 2% 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
.swiper_box2_para1{
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 999;
}
.swiper_box2_para{
  z-index: 999;
  color: white;
  margin: 0%;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif
}
.ourstory{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width:980px) {
  .uppersection3_box1 {
    width: 62%;
  }
  .uppersection4_box1{
    width: 62%;
  }

}
@media screen and (max-width:400px) {
  .upersection1_content_SideA_P{
    font-size: 25px;
  }
  .upersection1_content_SideA_P2{
    font-size: 25px;
  }
  .ourstory{
    align-items:  center;
  }
}
@media screen and (max-width:850px) {
  .upersection2_img {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 630px;
    background-image: url('../../asset/image/Frame 41.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: 1px solid red; */
    
  }
  .uppersection3_box1 {
    margin:5px 0px;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
    overflow: hidden;
    border: 1px solid #1BACD1;
    background-color: rgba(27, 172, 209, 0.1); 
    width: 90%;
  }
  .uppersection2_content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 11%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
  .uppersection img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
}
.uppersection4_box1 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  background-color: rgba(27, 172, 209, 0.1);
  width: 90%;
}
=======
body {
  overflow-x: hidden;
}
@font-face {
  font-family: 'Revive 80 Wide';
  font-family: 'Revive 80 Phatt';
  src: url('../../asset/fonts/Revive\ 80\ Wide.otf') format('opentype');
  src: url('../../asset/fonts/Revive\ 80\ Phatt.otf') format('opentype');
}

.uppersection {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .bottom-animation {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .slide-iin{
    opacity: 1;
  }
  
  @keyframes slideInFromBottom {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  /* .uppersection img {
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
  } */
  .uppersection img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
  }
  .uppersection1.fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
 
  .uppersection-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .uppersection_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0); /* Add translateZ(0) for better GPU acceleration */
    text-align: center;
    color: white;
    text-transform: uppercase;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .uppersection.zoomed .uppersection-image {
    opacity: 0;
  }
  
  .uppersection.zoomed .uppersection_heading {
    transform: translate(-50%, -50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
  /* UperSection1 */
.uppersection1{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.upersection1_img {
  margin-top: 30px;
  object-fit: contain;
  width: 80%;
  animation: slideFromRight 3s ease-in-out forwards;
  /* Change the animation duration and timing function as needed */
  opacity: 0; /* Start the image as hidden */
}

@keyframes slideFromRight {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.upersection1_content{
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.upersection1_content_SideA{
  width: 35%;
}
.upersection1_content_SideB{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.upersection1_content_SideA_P{
  /* color: white; */
  color: #1BACD1;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-family: 'Revive 80 Wide'; */
  font-size: 55px;
  font-weight: 600;
  z-index: 999;
}

.upersection1_content_SideA_P2{
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  /* font-family: 'Revive 80 Wide'; */
  font-size: 35px;
  font-weight: 800;
  z-index: 999;
}
.upersection1_content_SideB_P{
  text-align: left;
  color: white;
  z-index: 999;
}
.upersection1_content_SideB_Button{
      /* background: #334d50;  
      background: -webkit-linear-gradient(to right, #cbcaa5, #334d50); 
      background: linear-gradient(to right, #cbcaa5, #334d50);  */
      background-color: white;
      color: black;
      width: 180px;
      margin-top: 5%;
      z-index: 999;
}
/* Upersection 2 */
.upersection2_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 630px;
  background-image: url('../../asset/image/Frame 41.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.uppersection2_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_img{
  transition: all 0.5s ease-in-out;
}
.home_img:hover{
  transform: scale(1.5);
}
.op{
  text-decoration: none;
}
/* Uppersection-3 */
.yyy{
  background: rgb(19,101,141);
background: linear-gradient(180deg, rgba(19,101,141,1) 0%, rgba(0,0,0,1) 72%);
}
.blog_container{
  /* background-color: white; */
  /* height: 100vh; */
}
.uppersection3_heading {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 45px;
  font-weight: 600;
  z-index: 999;
}
.blog_heading{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 45px;
  font-weight: 600;
  z-index: 999;
}
.uppersection3_content{
  display: flex;
  padding: 0 13%;
}
.uppersection3_box1 {
  margin: 7px;
  /* padding-left: 40px;
  padding-right: 40px; */
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative; 
  overflow: hidden;
  border: 1px solid #1BACD1;
  background-color: rgba(27, 172, 209, 0.1); /* Adjust the alpha value for opacity */
}
.uppersection3_box1 > h5 {
  color: white;
  text-align: left;
  font-size: 28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uppersection3_box1 >p{
  color: #A9A7B0;
  text-align: left;
  padding-bottom: 15px;
  
}
.uppersection3_box1 >img{
  display: block;
  margin: 10px auto;
}
.uppersection3_box1:hover .overlay {
  height: 100%; /* Set the final height to 100% on hover */
}
.overlay_link{
  color: white;
  text-decoration: none;
}
.overlay_content_A:hover{
  transition: 0.5s ease-in-out;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.overlay_link > p {
  padding: 10px 0px;
  text-align: center;
  line-height: 2;
  margin: 0;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:0; /* Set initial height to 0 */
  /* background-color: rgba(27, 172, 209, 0.8); */
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 3%, rgba(19,101,141,1) 100%);
  overflow: hidden;
  transition: height 0.5s ease; /* Adjust the transition property */
  opacity: 1;
}

.overlay-content {
  padding: 20px;
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease;
  /* align-items: center;
  justify-content: center; 
  display: flex;
  flex-direction: column; */
  position: relative; /* Add this line */
}

.uppersection3_box1:hover .overlay-content {
  opacity: 1;
}

.uppersection3_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 550px;
  background-image: url('../../asset/image/Frame 41.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
}
.overlay_content_A{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.overlay-content img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain the image's aspect ratio */
  position: absolute; /* Add this line */
  bottom: -10%; /* Add this line */
  left: 50%; /* Add this line */
  transform: translate(-50%, -50%); /* Add this line to center the image */
}
.uppersection4{
  margin-top: 50px;
}
.uppersection4_content{
  display: flex;
  padding: 0 13%;
}
.uppersection4_box1 {
  margin: 10px;
  /* padding-left: 40px;
  padding-right: 40px; */
  display: flex;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  position: relative; /* Add this line */
  overflow: hidden; /* Add this line */
  border: 1px solid #36D1DC;
  background-color: rgba(27, 172, 209, 0.1); /* Adjust the alpha value for opacity */
}
.uppersection4_box1 >img{
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 100%; /* Ensure the image takes the full height of its container */
  object-fit: cover;
}
.uppersection4_box1 > p{
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uppersection5{
  /* position: absolute; */
  /* background-color: #1BACD1; */
  padding: 0px 40px;
  /* margin-top: 10%; */
}
.heading_content{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.heading_content >h3{
  color: white;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family:Pl;
  font-size: 45px;
}
.heading_content >p {
  position: absolute;
  right: 10%;
  margin: 10px;
  color: white;
  font-size: 16px;
}
/* Swiper */
.swipper_box1{
  /* border: 2px solid white; */
  margin-left: 15%;
  width: 70%;
  border-radius: 10px;
  /* background: #2193b0;  
background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);  
background: linear-gradient(to left, #6dd5ed, #2193b0); */
/* background: #56CCF2;  
background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  
background: linear-gradient(to left, #2F80ED, #56CCF2);  */
/* background: rgb(6,86,106);
background: linear-gradient(142deg, rgba(6,86,106,1) 18%, rgba(255,255,255,1) 120%); */
background: rgb(27,172,209);
background: linear-gradient(180deg, rgba(27,172,209,1) 0%, rgba(2,102,128,1) 55%);
}

.swiper_content{
  /* padding: 10px 25px; */
  /* padding: 10px 10px; */
  padding: 30px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icon_box{
  background-color: white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_p1{
  margin: 0px;
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.swiper_p2{
  color: white;
  font-size: 18px;
}
.swiper_box{
  padding: 20px 0px;
}
.swiper_p3{
  color: white;
  text-align: start;
  font-family: 'Times New Roman', Times, serif;
}
.swiper_box1{
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.swiper_box1 > img{
  width: 45%;
  height: 45%;
}
.swiper_box2{
  padding: 2% 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
.swiper_box2_para1{
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 999;
}
.swiper_box2_para{
  z-index: 999;
  color: white;
  margin: 0%;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif
}
.ourstory{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width:980px) {
  .uppersection3_box1 {
    width: 62%;
  }
  .uppersection4_box1{
    width: 62%;
  }

}
@media screen and (max-width:400px) {
  .upersection1_content_SideA_P{
    font-size: 25px;
  }
  .upersection1_content_SideA_P2{
    font-size: 25px;
  }
  .ourstory{
    align-items:  center;
  }
}
@media screen and (max-width:850px) {
  .upersection2_img {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 630px;
    background-image: url('../../asset/image/Frame 41.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: 1px solid red; */
    
  }
  .uppersection3_box1 {
    margin:5px 0px;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
    overflow: hidden;
    border: 1px solid #1BACD1;
    background-color: rgba(27, 172, 209, 0.1); 
    width: 90%;
  }
  .uppersection2_content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 11%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
  .uppersection img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
}
.uppersection4_box1 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  background-color: rgba(27, 172, 209, 0.1);
  width: 90%;
}
>>>>>>> f7d8722 (ten commit)
}