<<<<<<< HEAD
body {
  overflow-x: hidden;
}
.uppersection {
    position: relative;
    height: 670px;
    overflow: hidden;
  }
  
  /* .uppersection img {
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
  } */
  .uppersection img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
  }
  .uppersection1.fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
 
  .uppersection-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .uppersection_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0); /* Add translateZ(0) for better GPU acceleration */
    text-align: center;
    color: white;
    text-transform: uppercase;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .uppersection.zoomed .uppersection-image {
    opacity: 0;
  }
  
  .uppersection.zoomed .uppersection_heading {
    transform: translate(-50%, -50%) translateZ(0) scale(1.5);
    opacity: 0.5;
  }
  /* UperSection1 */
.uppersection1{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.upersection1_img{
  margin-top: 30px;
  object-fit: contain;
  width: 70%;
}
.upersection1_content{
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.upersection1_content_SideA{
  width: 35%;
}
.upersection1_content_SideB{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.upersection1_content_SideA_P{
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}
.upersection1_content_SideA_P2{
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 800;
}
.upersection1_content_SideB_P{
  text-align: left;
  color: white;
}
.upersection1_content_SideB_Button{
  width: 140px;
}
/* Upersection 2 */
.upersection2_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 630px;
  background-image: url('../../asset/image/Frame 41.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  
}
.uppersection2_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Uppersection-3 */
.uppersection3{
margin-top: -50px;
}
.uppersection3_heading {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 45px;
  font-weight: 600;
}
.uppersection3_content{
  display: flex;
  padding: 0 13%;
}
.uppersection3_box1 {
  margin: 10px;
  /* padding-left: 40px;
  padding-right: 40px; */
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative; /* Add this line */
  overflow: hidden; /* Add this line */
  border: 1px solid #1BACD1;
  background-color: rgba(27, 172, 209, 0.1); /* Adjust the alpha value for opacity */
}
.uppersection3_box1 > h5 {
  color: white;
  text-align: left;
  font-size: 28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uppersection3_box1 >p{
  color: #A9A7B0;
  text-align: left;
  padding-bottom: 15px;
  
}
.uppersection3_box1 >img{
  display: block;
  margin: 0 auto;
}
.uppersection3_box1:hover .overlay {
  height: 100%; /* Set the final height to 100% on hover */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:0; /* Set initial height to 0 */
  /* background-color: rgba(27, 172, 209, 0.8); */
  background-color: #1BACD1;
  overflow: hidden;
  transition: height 0.5s ease; /* Adjust the transition property */
}

.overlay-content {
  padding: 20px;
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease;
  /* align-items: center;
  justify-content: center; 
  display: flex;
  flex-direction: column; */
  position: relative; /* Add this line */
}

.uppersection3_box1:hover .overlay-content {
  opacity: 1;
}

.uppersection3_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 550px;
  background-image: url('../../asset/image/Frame 41.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
}
.overlay_content_A{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.overlay_content_A >p{
  padding-top: 2%;
  text-align: center;
}
.overlay-content img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain the image's aspect ratio */
  position: absolute; /* Add this line */
  bottom: -10%; /* Add this line */
  left: 50%; /* Add this line */
  transform: translate(-50%, -50%); /* Add this line to center the image */
}
.uppersection4{
  margin-top: 50px;
}
.uppersection4_content{
  display: flex;
  padding: 0 13%;
}
.uppersection4_box1 {
  margin: 10px;
  /* padding-left: 40px;
  padding-right: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Add this line */
  overflow: hidden; /* Add this line */
  border: 1px solid white;
  background-color: rgba(27, 172, 209, 0.1); /* Adjust the alpha value for opacity */
}
.uppersection4_box1 >img{
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 100%; /* Ensure the image takes the full height of its container */
  object-fit: cover;
}
.uppersection4_box1 > p{
  color: white;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uppersection5{
  /* position: absolute; */
  background-color: #1BACD1;
  padding: 20px 40px;
  margin-top: 10%;
}
.heading_content{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.heading_content >h3{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
}
.heading_content >p {
  position: absolute;
  right: 10%;
  margin: 10px;
  color: white;
}
/* Swiper */
.swipper_box1{
  border: 2px solid white;
  margin-left: 15%;
  width: 70%;
  border-radius: 10px;
}
.swiper_content{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon_box{
  background-color: white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_p1{
  margin: 0px;
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.swiper_p2{
  color: white;
  font-size: 18px;
}
.swiper_box{
  padding: 10px 25px;
}
.swiper_p3{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
=======
body {
  overflow-x: hidden;
}
.uppersection {
    position: relative;
    height: 670px;
    overflow: hidden;
  }
  
  /* .uppersection img {
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
  } */
  .uppersection img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
  }
  .uppersection1.fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
 
  .uppersection-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .uppersection_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0); /* Add translateZ(0) for better GPU acceleration */
    text-align: center;
    color: white;
    text-transform: uppercase;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .uppersection.zoomed .uppersection-image {
    opacity: 0;
  }
  
  .uppersection.zoomed .uppersection_heading {
    transform: translate(-50%, -50%) translateZ(0) scale(1.5);
    opacity: 0.5;
  }
  /* UperSection1 */
.uppersection1{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.upersection1_img{
  margin-top: 30px;
  object-fit: contain;
  width: 70%;
}
.upersection1_content{
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.upersection1_content_SideA{
  width: 35%;
}
.upersection1_content_SideB{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.upersection1_content_SideA_P{
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}
.upersection1_content_SideA_P2{
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 800;
}
.upersection1_content_SideB_P{
  text-align: left;
  color: white;
}
.upersection1_content_SideB_Button{
  width: 140px;
}
/* Upersection 2 */
.upersection2_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 630px;
  background-image: url('../../asset/image/Frame 41.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  
}
.uppersection2_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Uppersection-3 */
.uppersection3{
margin-top: -50px;
}
.uppersection3_heading {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 45px;
  font-weight: 600;
}
.uppersection3_content{
  display: flex;
  padding: 0 13%;
}
.uppersection3_box1 {
  margin: 10px;
  /* padding-left: 40px;
  padding-right: 40px; */
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative; /* Add this line */
  overflow: hidden; /* Add this line */
  border: 1px solid #1BACD1;
  background-color: rgba(27, 172, 209, 0.1); /* Adjust the alpha value for opacity */
}
.uppersection3_box1 > h5 {
  color: white;
  text-align: left;
  font-size: 28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uppersection3_box1 >p{
  color: #A9A7B0;
  text-align: left;
  padding-bottom: 15px;
  
}
.uppersection3_box1 >img{
  display: block;
  margin: 0 auto;
}
.uppersection3_box1:hover .overlay {
  height: 100%; /* Set the final height to 100% on hover */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:0; /* Set initial height to 0 */
  /* background-color: rgba(27, 172, 209, 0.8); */
  background-color: #1BACD1;
  overflow: hidden;
  transition: height 0.5s ease; /* Adjust the transition property */
}

.overlay-content {
  padding: 20px;
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease;
  /* align-items: center;
  justify-content: center; 
  display: flex;
  flex-direction: column; */
  position: relative; /* Add this line */
}

.uppersection3_box1:hover .overlay-content {
  opacity: 1;
}

.uppersection3_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 550px;
  background-image: url('../../asset/image/Frame 41.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
}
.overlay_content_A{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.overlay_content_A >p{
  padding-top: 2%;
  text-align: center;
}
.overlay-content img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain the image's aspect ratio */
  position: absolute; /* Add this line */
  bottom: -10%; /* Add this line */
  left: 50%; /* Add this line */
  transform: translate(-50%, -50%); /* Add this line to center the image */
}
.uppersection4{
  margin-top: 50px;
}
.uppersection4_content{
  display: flex;
  padding: 0 13%;
}
.uppersection4_box1 {
  margin: 10px;
  /* padding-left: 40px;
  padding-right: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Add this line */
  overflow: hidden; /* Add this line */
  border: 1px solid white;
  background-color: rgba(27, 172, 209, 0.1); /* Adjust the alpha value for opacity */
}
.uppersection4_box1 >img{
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 100%; /* Ensure the image takes the full height of its container */
  object-fit: cover;
}
.uppersection4_box1 > p{
  color: white;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uppersection5{
  /* position: absolute; */
  background-color: #1BACD1;
  padding: 20px 40px;
  margin-top: 10%;
}
.heading_content{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.heading_content >h3{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
}
.heading_content >p {
  position: absolute;
  right: 10%;
  margin: 10px;
  color: white;
}
/* Swiper */
.swipper_box1{
  border: 2px solid white;
  margin-left: 15%;
  width: 70%;
  border-radius: 10px;
}
.swiper_content{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon_box{
  background-color: white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_p1{
  margin: 0px;
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.swiper_p2{
  color: white;
  font-size: 18px;
}
.swiper_box{
  padding: 10px 25px;
}
.swiper_p3{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
>>>>>>> f7d8722 (ten commit)
}